.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero .button-wrapper {
  margin-top: 1em;
  margin-bottom: 0;
}

.hero .hero-cta {
  --hero-cta-bg: #eb5c0c;
  --hero-cta-hover: #d35400;
  background-color: var(--hero-cta-bg);
  border-color: var(--hero-cta-bg);
  color: white;
}

.hero .hero-cta:hover,
.hero .hero-cta:focus-visible {
  background-color: var(--hero-cta-hover);
  border-color: var(--hero-cta-hover);
  color: white;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}